<% content_for :community_label, "Admin Submission Feed" %>

<div class="bg-yellow-400 border-b border-yellow-600">
  <div class="container lg:p-4 m-auto">
    <h1 class="lg:text-xl text-lg text-black font-mono font-normal">Admin</h1>
  </div>
</div>

<% content_for :primary_content do %>
  <%= render partial: "submissions/submission", collection: @submissions %>
<% end %>

<%= render "basic_layout" %>